.container{
	max-width: 800px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}

.box{
	text-align: center;
}

.diagram {
    width: 250px;
    height:250px;
    border-radius: 50%;
    background: #990;
    position: relative;
    overflow: hidden;
}
.diagram::before {
    content: '';
    display: block;
    position: absolute;
    top:20px;
    left:20px;
    right:20px;
    bottom:20px;
    border-radius: 50%;
    background: #ccc;
    z-index: 3;
    opacity: 1;
}
.diagram .piece {
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    overflow: hidden;
    position: absolute;
}
.diagram .piece::before {
    content: '';
    display: block;
    position: absolute;
    width: 50%;
    height: 100%;
}
.diagram .piece.left {
    transform: rotate(0deg);
    z-index: 2;
    border-radius: 50%; /* only FireFox < 75.0v (fix bug)*/
}
.diagram.over_50 .piece.left {
    transform: rotate(180deg);
}
.diagram .piece.right {
    transform: rotate(180deg);
    z-index: 1;
    border-radius: 50%; /* only FireFox < 75.0v (fix bug)*/
}
.diagram.over_50 .piece.right {
    transform: rotate(360deg);
}
.diagram .left::before {
    background: #059;
}
.diagram.over_50 .left::before {
    background: #990;
}
.diagram .right::before {
    background: #059;
}
.diagram .text {
    position: absolute;
    z-index: 3;
    top: 0;
    bottom: 0;
    left:0;
    right:0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.diagram .text b {
    font-size: 72px;
}
.diagram .text span {
    font-size: 16px;
    display: block;
}